.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.container1 {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;

  justify-content: center;
  
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}


.lista{
  list-style: none;
  text-align: center;
  padding: 0;
}

.linkteam{
  text-decoration: none;
  color: black;
}

.heading1{
  color: orange;
  text-align: center;
}

.info{
  width: 50%;
  justify-content: left;
  text-align: center;
}

.infoPlayers{
  width: 50%;
}