.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 120%;
}

.container1 {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  font-size: 150%;
  justify-content: center;
}

.lista {
  list-style: none;
  text-align: center;
  padding: 0;
}

.linkteam {
  text-decoration: none;
  color: black;
  transition: font-size 0.2s;
}
.linkteam:hover {
  font-size: 105%;
  color: orange;
}

.heading1 {
  color: orange;
  text-align: center;
}

.info {
  width: 50%;
  justify-content: left;
  text-align: center;
}

.infoPlayers {
  width: 50%;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
