.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 120%;
}

.searchContainer {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 120%;
}

.nagIndex {
  font-size: 225%;
}

.container1 {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  font-size: 150%;
  justify-content: center;
}

.lista {
  list-style: none;
  text-align: center;
  padding: 0;
}

.linkteam {
  text-decoration: none;
  color: black;
  transition: font-size 0.2s;
}
.linkteam:hover {
  font-size: 105%;
  color: orange;
}

.heading1 {
  color: orange;
  text-align: center;
}

.goBack {
  position: absolute;
  text-align: left;
}

.goBack:hover {
  cursor: pointer;
  color: blue;
}

.info {
  width: 50%;
  justify-content: left;
  text-align: center;
}

.infoPlayers {
  width: 50%;
}

.modalGracze {
  width: 400px;
  height: 350px;
  border: 2px solid black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  padding-left: 10px;
  background-color: white;
}

.modalGraczeOv {
  position: fixed;
  inset: 0px;
  background-color: rgba(255, 255, 255, 0.9);
}

.modalGry {
  width: auto;
  height: 350px;
  border: 2px solid black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  padding-left: 10px;
  background-color: white;
}

.modalGryOv {
  position: fixed;
  inset: 0px;
  background-color: rgba(255, 255, 255, 0.9);
}

.naglowekMecze {
  margin-top: 50px;
  color: orange;
  margin-right: 5px;
}
.buttonClose {
  border-radius: 5px;
  position: absolute;
  top: 20px;
  right: 10px;
}

.buttonClose:hover {
  background-color: red;
  cursor: pointer;
}

.gracz {
  cursor: pointer;
  font-weight: lighter;
}

.gracz:hover {
  font-size: 105%;
  color: orange;
  transition: font-size 0.2s;
}

.imieZawodnika {
  color: orange;
  margin-top: 50px;
  font-size: 220%;
}

.infoGracz {
  font-size: 130%;
  font-family: Arial, Helvetica, sans-serif;
}

.daneTab {
  border: 2px solid black;
  transition: border 0.1s;
  transition: font-size 0.2s;
}

tr:hover .daneTab {
  border: 2px solid blue;
  cursor: pointer;
  color: orange;
  font-size: 103%;
}
.nagTab {
  border: 1px solid black;
}

.tabelkaMecz {
  border: 2px solid black;
  width: 100%;
  border-collapse: collapse;
}

.tabelkaMecz1 {
  overflow-y: scroll;
  border: 1px solid black;
  height: 400px;
}

.tabelkaMecz1::-webkit-scrollbar {
  width: 10px;
}

.tabelkaMecz1::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

.tabelkaMecz1::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: orange;
  height: 35px;
}

.goSearch {
  position: absolute;

  position: absolute;
  top: 0;
  right: 0;
  margin-right: 20px;
  margin-top: 25px;
  font-size: 110%;
  text-decoration: none;
}

.linkSearch {
  text-decoration: none;
  color: black;
  transition: font-size 0.2s;
}

.linkSearch:hover {
  color: blue;
  font-size: 120%;
}

.gobackSearch {
  top: 0;
  left: 0;
  position: absolute;
  margin-left: 20px;
  font-size: 125%;
}

.gobackSearch:hover {
  cursor: pointer;
  color: blue;
}

.ulSearch {
  overflow-y: auto;
  height: 79vh;
  text-align: center;
  list-style: none;
  font-size: 120%;
}

.ulSearch::-webkit-scrollbar {
  width: 10px;
}

.ulSearch::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

.ulSearch::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: orange;
  height: 35px;
}

.formSearch {
  text-align: center;
}

.buttonSearch {
  height: 40px;
}

.wynikSearch,
.favoritePlayer {
  cursor: default;
}

.inputSearch {
  font-weight: bold;
  height: 40px;
  width: 300px;
  font-size: 100%;
}

.inputSearch::-webkit-input-placeholder {
  opacity: 0.3;
  color: black;
}

.buttonSearch:hover {
  background-color: orange;
  cursor: pointer;
}

.ulubPrzycisk {
  cursor: pointer;
  margin-left: 5px;
}

.favoritesContainer {
  position: absolute;
  left: 10px;
  top: 120px;
  text-align: center;
}

.favoritePlayer {
  list-style: none;
  color: orange;
  font-weight: bold;
}

.favPrzycisk {
  cursor: pointer;
  margin-left: 5px;
  color: red;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
